body {
  font-family: 'Segoe UI', sans-serif;
}

.contact-title {
  background-color: #C0FF61;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

.contact-subtext {
  font-size: 1rem;
  color: #333;
  max-width: 400px;
}

.contact-form-box {
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.form-check-input:checked {
  background-color: #b8ff3f;
  border-color: #b8ff3f;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-dark {
  background-color: #161616;
  border: none;
  padding: 10px 0;
  font-weight: 500;
}

.btn-dark:hover {
  background-color: #000;
}

.form-label {
  font-weight: 500;
  font-size: 14px;
}
